* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}


html {
    scroll-behavior: smooth;
}

.container {
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

body {
    background-color: #252627;
}

header h1,
header a,
.text p,
.about h1,
.skills h1,
.project h1,
.contact h1 {
    color: #707070;
}
/* Top navbar */
.navbar {
    background-color: #181818;
    padding: 0 10% 0 10%;
}

.navbar a{
    transition: .5s;
}

.navbar a:hover{
    color: #fff;
}

nav ul,
.main,
.project-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}


li {
    list-style: none;
    margin-left: 30px;
}

a{
    text-decoration: none;
    font-size: .9rem;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    bottom: 50%;
    transform: translateY(-50%);
}

.main-info-section {
    height: calc(100vh - 81.6px);
}

.text {
    margin-top: 130px;
}

.text h1{
    color:#fff;
    font-size: 3rem;
    cursor: context-menu;
}

.text title {
    display: inline-block;
}

title.name {
    color: #0F52BA;
}

.text p{
    letter-spacing: 3px;
    word-spacing: 10px;
    font-size: .8rem;
}

.text a{
    padding: 12px 25px;
    background-color: none;
    border: 3px solid #265092;
    color: #4682B4;
    font-size: .8rem;
    letter-spacing: 2px;
    position: relative;
    top: 80px;
    overflow: hidden;
    transition: .5s;
    display: inline-block;
}

.text a:hover {
    color: #fff
}

.text a::before {
    content: '';
    background-color: #265092;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: .5s;
}

.text a:hover::before {
    height: 100%;
}

.profile-image img{
    width: 450px;
    margin-top: 50px;
}


.about {

}
